<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
function strToJson(str){  
    return JSON.parse(str);  
}  

function render_book(data) {

	$("#guest_book_content").html(data);
}

	$("#book_submit").click(function(){
	       $.post("/send_ajax",
			{
				name: $("#name").val(),
				msg: $("#msg").val()
			},
			function(data, status){
				//json_data = strToJson(data);
				//alert(json_data["name"]);
				render_book(data);
		});
	});

});
</script>
</head>
<body>
{{title}}
<div class="container-fluid">

    <div class="row-fluid">

        <div class="span3">
          
          	<div class="sidebar-nav">
        	<h1>Guestbook total ajax!</h1>

			<div class="control-group">
    		<input id="name" type="input" name="name" placeholder=" Your name…"/>
			</div>
   			<div class="control-group">
    		<textarea id="msg" rows="3" name="msg" placeholder="Say something…" /></textarea>
			</div>
   			<div class="control-group">
   			<button type="button" class="btn btn-info" id="book_submit">Submit</button>
   			</div>

         	</div><!--/.well -->
        
        </div><!--/span3-->

        <div class="span9">

        	<div class="well" id="guest_book_content">
			{{data}}
			</div>	

        </div><!--/span9-->

    </div><!--/row-->
<!--
    <hr>
    <footer>
    <p>&copy; Jean 2012</p>
    </footer>
-->

</div><!--/.fluid-container-->

</body>
</html>
